@screen lg {

}

.guards {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

@media (max-width: 1024px) {
  .guards {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .guards {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
