$vs-colors: (
  lightest: #E5E7EB,
  light: rgba(60, 60, 60, 0.5),
  dark: #333,
  darkest: rgba(0, 0, 0, .15),
) !default;

//  Global Component Variables
$vs-component-line-height: 1.4 !default;
$vs-component-placeholder-color: inherit !default;

//  Active State
$vs-state-active-bg: #059669 !default;
$vs-state-active-color: #fff !default;

//  Disabled State
$vs-state-disabled-bg: rgb(248, 248, 248) !default;
$vs-state-disabled-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-controls-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-cursor: not-allowed !default;

//  Borders
$vs-border-width: 2px !default;
$vs-border-style: solid !default;
$vs-border-radius: 0.5rem !default;
$vs-border-color: map_get($vs-colors, 'lightest') !default;

//  Component Controls: Clear, Open Indicator
$vs-controls-color: map_get($vs-colors, 'light') !default;
$vs-controls-size: 1 !default;
$vs-controls-deselect-text-shadow: 0 1px 0 #fff;

//  Selected
$vs-selected-bg: #f0f0f0 !default;
$vs-selected-border-color: $vs-border-color !default;
$vs-selected-border-style: $vs-border-style !default;
$vs-selected-border-width: $vs-border-width !default;

//  Dropdown
$vs-dropdown-z-index: 1000 !default;
$vs-dropdown-min-width: 160px !default;
$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 0px 3px 6px 0px map_get($vs-colors, 'darkest') !default;
$vs-dropdown-bg: #fff !default;

@import "~vue-select/src/scss/vue-select.scss";

.forms-select .vs__search::placeholder,
.forms-select .vs__dropdown-toggle,
.forms-select .vs__dropdown-menu {
  @apply shadow rounded p-2 focus:outline-none focus:ring-1 focus:ring-green-600 border-0;
}

.forms-select .vs__search,
.forms-select .vs__search:focus {
  @apply p-0 m-0 border-0;
}

.forms-select .vs__clear,
.forms-select .vs__open-indicator {
  fill: #394066;
}

.filter-select .vs__search::placeholder,
.filter-select .vs__dropdown-toggle,
.filter-select .vs__dropdown-menu {
  @apply rounded p-1 bg-gray-200 border-transparent focus:border-transparent focus:ring-0 focus:ring-offset-0;
}

.filter-select .vs__search,
.filter-select .vs__search:focus {
  @apply p-0 m-0 border-0;
}

.filter-select .vs__clear,
.filter-select .vs__open-indicator {
  fill: #394066;
}
